.container {
  padding: 0 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.container > :nth-child(1) {
  position: absolute;
  width: 8rem;
  left: 30%;
  top: -3rem;
}
.products {
  display: grid;
  width: 90%;
  grid-template-columns: 25% auto;
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 500;
  font-size: 1.3rem;
}
.menu > li:hover {
  color: var(--pink);
  cursor: pointer;
}
.list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  overflow-y: scroll;
  height: 25rem;
}
.product {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 14rem;
  height: 10rem;
}
@media screen and (max-width: 856px) {
  .container {
    padding: 0 0rem;
    gap: 1rem;
  }
  .container > :nth-child(1) {
    width: 6rem;
    left: 30%;
    top: -3rem;
  }
  .products {
    width: 90%;
  }
  .list {
    grid-template-columns: auto auto;
    gap: 1rem;
    height: 25rem;
  }
}
@media screen and (max-width: 600px) {
  .container {
    margin-top: -2rem;
    margin-left: -2.2rem;
  }
  .container > :nth-child(1) {
    visibility: hidden;
  }
  .container > :nth-child(2) {
    font-size: 20px;
  }
  .products {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .menu {
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .menu li {
    font-size: 13px;
  }
  .product {
    padding: 1rem;
    width: 8rem;
    height: 7rem;
    margin-left: 1rem;
  }
  .list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.4rem;
    height: 20rem;
    overflow-y: scroll;
  }
  .list img {
    width: 2.5rem;
    height: 4rem;
    bottom: 0;
    right: 1rem;
    transform: rotate(-20deg);
  }
}
